player-connection-mode=Listen
player-connection-guid=674720979
player-connection-debug=0
player-connection-project-name=GMTK23
player-connection-ip=192.168.1.23
player-connection-ip=192.168.56.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=c65d1b85daa447089fdaca369e0d2f46
